
@{
    ViewData["Title"] = "Home Page";
}
<!Doctype html>
<html>
<head>

    <script src="~/codemirror/lib/codemirror.js"></script>
    <link href="~/codemirror/lib/codemirror.css" rel="stylesheet" />
    <script src="~/codemirror/mode/xml/xml.js"></script>
    <link href="~/codemirror/theme/dracula.css" rel="stylesheet" />
    <link href="~/codemirror/theme/idea.css" rel="stylesheet" />
    <script src="~/codemirror/addon/hint/show-hint.js"></script>
    <link href="~/codemirror/addon/hint/show-hint.css" rel="stylesheet" />
    <script src="~/codemirror/addon/hint/javascript-hint.js"></script>
    <script src="~/codemirror/addon/edit/continuelist.js"></script>
    <script src="~/codemirror/addon/edit/closetag.js"></script>
</head>
<body>
    @using (Html.BeginForm("Editor", "Home", FormMethod.Get))
    {

        @Html.TextArea("key", "$$$This is an Editor.", new { @class = "form-control", @id = "editor" })
        <div class="row"  style="margin-top: 20px">
            <form asp-controller="Home" asp-action="ReadFile" enctype="multipart/form-data" method="post">
                <div class="col-xs-12 col-sm-12 col-lg-3">
                    <input type="file" name="file" />
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-1">
                    <button class="btn btn-success" type="submit">Browse</button>
                </div>

            </form>


            <div class="col-xs-12 col-sm-12 col-lg-1">
                <input class="btn btn-success" type="submit" value="Scanner"  />
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-1">
                <input class="btn btn-success" type="submit" value="Parser"  />
            </div>
        </div>


    }
    <script>


        var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
            mode: "xml",
            theme: "dracula",
            lineNumbers: true,
            autoCloseTags: true,



        });


        var availableKeywords = ['SIowf', 'Stop', 'SIow', 'Loopwhen', 'Loli', 'Iteratewhen', 'If', 'Else', 'Chain', 'Chilo', 'Iow', 'Include', 'Iowf',
            'Worthless', 'Turnback', "$$$", "/$ $/"];
        $("#editor").autocomplete({
            source: availableKeywords
        });

        var documenteditor;

        document.addEventListener('DOMContentLoaded', function () {

            documenteditor = document.getElementById("editor").ej2_instances[0];

            documenteditor.spellChecker.languageID = 1033 //LCID of "en-us";

            documenteditor.spellChecker.removeUnderline = false;

            documenteditor.spellChecker.allowSpellCheckAndSuggestion = true;

        });


    </script>

</body>
</html>