
@{
    ViewData["Title"] = "Home Page";
}
<!Doctype html>
<html>
<head>



    <link href="~/css/Editor.css" rel="stylesheet" />

    <link href="~/lib/jquery-ui-1.13.1/jquery-ui.min.css" rel="stylesheet" />
 
</head>
<body>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-lg-7">

            <div class="thumbnail" style="box-shadow: gray 2px 2px; margin-top:20px ">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-lg-12 ">
                        <textarea id='lineCounter' readonly>1</textarea><textarea id='codeEditor'></textarea>
                    </div>

                </div>
                <br />

                <div class="row" style="justify-content:space-around">

                    <div class="col-xs-12 col-sm-3  col-lg-2 ">

                        <label for="BrowseFile" class="btn btn-success" id="browse">Browse</label>
                        <input type="file" id="BrowseFile" style="display:none">

                    </div>

                    <div class="col-xs-12 col-sm-3 col-lg-2 ">
                        <input class="btn btn-success" type="button" value="Scanner" id="ScanData" />
                    </div>

                    <div class="col-xs-12 col-sm-3  col-lg-2 " style="margin-top:5px">
                        <input class="btn btn-success" type="button" value="Parser" id="ParseData" />
                    </div>

                </div>
                <br />

            </div>
        </div>




        <div class="col-xs-12 col-sm-12 col-lg-4" style="margin-left:20px; margin-top:20px">
            <div class="thumbnail" style="box-shadow: gray 2px 2px; height: 600px; width: 500px">
                <p id="out">Scanner Ouput:</p>
                <div class="row" style="height: 250px; overflow-y:auto; overflow-x: auto;">

                    <p id="OutScan" style="margin-left:40px"></p>

                </div>
                <hr />
                <p id="out">Parser Ouput:</p>
                <div class="row" style="overflow-y: auto; overflow-x: auto;">

                    <p id="OutParse" style="margin-left:40px"></p>

                </div>
            </div>
        </div>
    </div>
    <br />
    @section Scripts{


        <script src="~/lib/jquery-ui-1.13.1/jquery-ui.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

        <script src="~/js/Editor.js"></script>
    }
</body>
</html>